html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}




.container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-height: none;
}

.section {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.section-1 {
    height: 100%;
    background-image: url('/src/assets/imagens/zure.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    z-index: 0;
}


.section-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:0
} 


.title{
    width: 300px;
    margin:10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 1;
    transition:opacity 0.9s ease-in-out
}

.title.active{
    opacity: 0;
}


.title h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 43px;
    letter-spacing: -2.51366px;
    line-height: 53.1237px;
    color:#ffffff;
    word-spacing: 0px;
    margin-bottom: 5%;

}

.section-1 > :nth-child(2) sub{
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #b4b4b4;
    line-height: 18px;
    text-transform: uppercase;
}

.title > button{
    font-family: 'Open Sans', sans-serif;
    background-color:#ffffff;
    text-decoration: none solid rgb(85,85,85);
    font-size: 10px; 
    height: 40px;
    width: 120px;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 19px;
    margin: 10px;
    transition: background-color 0.9s ease
}

.title > button:hover{
    background-color: #006eff;
    color:#ffffff;
}



.navbar{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    opacity: 1;
    background-color:#69a7c000!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition:opacity 0.9s ease-in
}
.navbar.active{
    opacity:0
}

.section-2 {
  background-color: #000000;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  position: relative;
  
}





.container-card{
    width:90%;
    height:300px;
    overflow-x:scroll;
    overflow-y:hidden;
    border-radius:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    will-change: transform;
    transition: transform 0.5s ease-in-out;
    
    
}

.container-card.active{
    transform: translateY(-20%);
    

}

.container-card >:first-child{
    height: 100%;
    width: clamp(900px, 100%, 2000px);
    display: flex;
    flex-direction:row;
    justify-content:center;
    position: relative;
    align-items: center;
    gap: 5px;
    will-change: transform;
    transition: transform 0.5s ease-in-out;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    
}

.card:hover{
    transform: scale(1.05)
}




.card > :nth-child(2){
    width: 90%;
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.card >:nth-child(2) div > span{
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    background-color: #ffffff;
    width: 20%;
    height:15px;
    border-radius:10px;
    font-weight: 700;
    word-spacing: 0px;
    text-align:center!important;
    text-transform: uppercase;
    margin: 2px
}

.card >:nth-child(2) div{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}


.card > :nth-child(2) b{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: -0.9px;
    color:#ffffff;
    line-height: 24px;
    word-spacing: 0px;
}





.card-image-confiance{
    background-image: url('/src/assets/imagens/confianca.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    
}

.card-image-confiance:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    border-radius:10px
}



.card-image-analitcs{
    background-image: url('/src/assets/imagens/analitcs.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}
.card-image-analitcs:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    border-radius:10px
}

.card-image-qualidade{
    background-image: url('/src/assets/imagens/qualidade.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}
.card-image-qualidade:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    border-radius:10px
}

.card-image-seguranca{
    background-image: url('/src/assets/imagens/seguranca.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.card-image-seguranca:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    border-radius:10px
}

.section-3 {
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: flex-end;
  min-height: 825.859px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}




.section-3 > :first-child{
    width:89%;
}



.title-3{
    width:300px;
    margin: 0px 10% 40px 0px;
}


.title-3 > h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: -1.65969px;
    color: #000;
    word-spacing: 0px;
    line-height: 42.6875px;
    word-spacing: 0px;
}

.title-3 > span{
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none solid rgb(126,126,126);
    line-height: 18px;
    text-transform: uppercase;
}

.text-3{
    box-sizing: border-box;
    height: 500px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-right: 50px;
}
.text-3 > :first-child{
    max-width: 500px;
    font-size: calc(0.5rem + 0.5vw);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #7e7e7e;
    text-transform: none;
}


.panel{
    border: none!important;
}

.list{
    font-family: 'Open Sans', sans-serif;
    font-size:11.3924px!important;
    line-height: 20.8588px;
    text-decoration: none solid rgb(85,85,85); 
    letter-spacing: normal;
}

.panel *[id^="panel"]{
    font-family: 'Open Sans', sans-serif;
    font-size:18.9737px!important;
    line-height: 28.4538px;
    text-transform: none;
    color: #000000;
    word-spacing:0px;
    letter-spacing: -2px
}



.section-4  {
  background-color: #eeeeee;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}




.section-4  >:first-child div > a{
    color: rgb(122, 122, 122);
}

.section-4  >:first-child{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    width:90%;
}

.section-4  >:nth-child(2) *:hover{
    cursor: pointer;
}





.section-4  >:first-child :first-child span{
    font-family: 'Open Sans', sans-serif;
    font-size:9.9737px!important;
    line-height: 28.4538px;
    text-transform: none;
    color:#979797;
    word-spacing:0px;
}

.section-4 >:first-child :first-child b{
    font-family: 'Open Sans', sans-serif;
    font-size:36.882px!important;
    line-height: 42.6875px;
    letter-spacing:-1.65969px;
    text-transform: none;
    text-decoration: none solid rgb(151, 151, 151);
    word-spacing:0px;  
}

.section-4 >:first-child > :nth-child(2){
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;

}














@media (max-width: 767px) {
    .title h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 39px;
        letter-spacing: -2.12px;
        line-height: 58px;
        color:#ffffff;
        word-spacing: 0px;
        margin-bottom: none;
    
    }
    .title-3 > h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 28px;
        letter-spacing: -1.65969px;
        text-decoration: none solid rgb(0, 0, 0);
        word-spacing: 0px;
        line-height: 42.6875px;
        word-spacing: 0px;
    }
    .section-4 >:first-child{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        margin: 1%;
        width:100%;
    }
    .section-4  >:first-child :first-child span{
        display: none;
    }
}





